# NRPE config file

# LOG FACILITY
log_facility=daemon

# ALLOWED HOSTS
allowed_hosts=127.0.0.1, 192.168.227.142, 192.168.227.143, 192.168.227.144, 192.168.227.145

# COMMAND DEFINITIONS
command[check_users]=/usr/lib64/nagios/plugins/check_users -w 5 -c 10
command[check_load]=/usr/lib64/nagios/plugins/check_load -w 15,10,5 -c 30,25,20
command[check_hda1]=/usr/lib64/nagios/plugins/check_disk -w 20% -c 10% -p /dev/hda1
command[check_zombie_procs]=/usr/lib64/nagios/plugins/check_procs -w 5 -c 10 -s Z
command[check_total_procs]=/usr/lib64/nagios/plugins/check_procs -w 150 -c 200
#command[check_ssl_expiry]=/usr/lib64/nagios/plugins/check_http -H stolk.local -S --sni -C 30,14

# INCLUDE_DIR
include_dir=/etc/nrpe.d/
